<div *ngIf="player" class="player" [ngClass]="player.getDealer() ? 'player-dealer' : ''">
  <div class="player-lhs">
    <div *ngIf="roundState === ROUND_STATE.PREDICTIONS 
      || roundState === ROUND_STATE.INIT" class="player-svg-container">
      <smilie-component [expression]="'smile'"></smilie-component>
    </div>
    <div *ngIf="(roundState === ROUND_STATE.PREDICTIONS_COMPLETE )
      || (roundState === ROUND_STATE.IN_PROGRESS)" class="player-svg-container">
      <smilie-component *ngIf="player.getCurrentPrediction() > player.getTricksWon()" [expression]="'concerned'"></smilie-component>
      <smilie-component *ngIf="player.getCurrentPrediction() === player.getTricksWon()" [expression]="'smile'"></smilie-component>
      <smilie-component *ngIf="player.getCurrentPrediction() < player.getTricksWon()" [expression]="'frown'"></smilie-component>
    </div>
    <div *ngIf="roundState === ROUND_STATE.COMPLETE" class="player-svg-container">
      <smilie-component *ngIf="player.getCurrentPrediction() !== player.getTricksWon()" [expression]="'frown'"></smilie-component>
      <smilie-component *ngIf="player.getCurrentPrediction() === player.getTricksWon()" [expression]="'cool'"></smilie-component>
    </div>
    <div class="player-name">{{player.getName()}}</div>
  </div>
  <div class="player-rhs">
    <div *ngIf="player.getCurrentPrediction() !== -1" class="player-data player-prediction"><div>Prediction</div><div>{{player.getCurrentPrediction()}}</div></div>
    <div *ngIf="player.getCurrentPrediction() !== -1" [ngClass]="flashClass" class="player-data player-tricks-won"><div>Tricks won</div><div>{{player.getTricksWon()}}</div></div>
    <div class="player-data player-score"><div>Score</div><div>{{player.getCurrentScore()}}</div></div>
  </div>
</div>