
<div class="registration" *ngIf="myName === 'XXX'">

  <div class="registration-connection" [ngStyle]="connection.isConnected() ? {'background-color': '#00ff00'} : {'background-color': '#ff0000'}"></div>
  
  <div class="player-selection">
    Register:
    <select [(ngModel)]="myName" class="my-prediction-select" (change)="playerSelected()">
      <option *ngFor="let name of names" [ngValue]="name">{{name}}</option>
    </select>
  </div>

</div>


<div class="main-container" *ngIf="myName !== 'XXX'">

  <div class="title">Clag</div>

  <div *ngIf="popupActive" class="popup-message">
    {{popupMessage}}
  </div>

  <div class="lhs-panel">

    <div class="connection-status">
      <p *ngIf="connection.isConnected()">Connection: Up</p>
      <p *ngIf="!connection.isConnected()">Connection: Down</p>
      <button *ngIf="myName === 'John'" (click)="newGame()">New Game</button>
      <button (click)="showScoreboard()">Show Scoreboard</button>
      
    </div>

    <div class="my-prediction" *ngIf="predictionRequested">
      <p>Make prediction!...</p>
      <select [(ngModel)]="myPrediction" class="my-prediction-select" (change)="predictionSelected()">
        <optgroup>
          <option *ngFor="let p of predictionRange" class="prediction-option" [ngValue]="p">{{p}}</option>
        </optgroup>
      </select>
    </div>
        
    <div class="my-hand" [ngClass]="playCardRequested ? 'my-hand-my-go' : ''">
      <div>
        <ng-template ngFor let-card [ngForOf]="myHand">
          <component-card (click)="cardSelected(card)" class="myhand-card" [value]="card" [hidden]="false" [selected]="false" [playable]="true"></component-card>
        </ng-template>
      </div>
    </div>

    <div *ngIf="myHand && myHand.length > 0" class="trumps"><div>Trumps</div><div class="trump-style" [ngStyle]="trumpsStyle">{{trumps}}</div></div>

  </div>

  <div class="game-board">

    <div class="playing-area">

      <div class="current-trick-container">
        <ng-template ngFor let-card let-i="index" [ngForOf]="currentTrick">
          <component-card [ngClass]="trickCardClass[i]" [value]="card" [hidden]="false" [selected]="false" [playable]="true"></component-card>
        </ng-template> 
      </div>

      <div class="players">
        <ng-template ngFor let-player let-i="index" [ngForOf]="players">
          <component-player class="player-container player-{{i}}" [roundState]="roundState" [player]="player"></component-player>
        </ng-template>
      </div>

    </div>

  </div>

  <div class="scoreboard">
    <component-scoreboard [scoreboard]="scoreboard"></component-scoreboard>
  </div>

</div>
