<div class="scoreboard-top" [hidden]="scoreboard.hidden">
  <div class="scoreboard-players">
    <div *ngFor="let p of scoreboard.players" class="scoreboard-player"><div class="scoreboard-item">{{p.getName()}}</div></div>
  </div>
  <ng-template ngFor let-round [ngForOf]="scoreboard.scores">
    <div class="player-scores">
      <div *ngFor="let s of round" class="player-score" [ngClass]="s.made ? 'player-score-green' : 'player-score-red'"><div class="scoreboard-item">{{s.prediction}}</div><div class="scoreboard-item">{{s.score}}</div></div>
    </div>
  </ng-template>
  <div class="scoreboard-controls">
    <button (click)="hide()" value="hide">Hide</button>
  </div>
</div>